<h1>Create a new restaurant</h1>

<form action="/restaurants" method="post">
  <label for="name">name</label>
  <input type="text" name="name">
  <br>
  <label for="city">city</label>
  <input type="text" name="city">
  <br>
  <input type="submit">
</form>
